
.col {
    background-color: rgb(126, 125, 124);
    height: 50px;
    width: 50px;
    background-image: url("../img/R.jpg");
    border-bottom: 10px solid;
    color: rgb(194, 152, 94);
    height: 70px;
}
.borderstuff {
    border-top: 2px solid ;
    border-right: 2px dashed;
	border-top: 60px solid transparent;
}
body {
    overflow: hidden;
    background-image: url("../img/desert.jpg");
}
img {
    position: absolute;
    right: 1050px;
    bottom: 2px;
    height: 500px;
    transform: rotate(25deg);
    z-index: 1;
}
.shadow {

    height: 50px;
    width: 50px;
    background-image: none;
}
.slope {
    background-color: rgb(151, 111, 83);
    transform: translateY(50px);
    transform: rotate(55deg);
    
    top: 300px;
    right: 10px;
    position: absolute;
    width: 3297px;
    height: 47px;
    
}

.div {
    z-index: 2;
    position: absolute;
    top: 30%;
    right: 25%;
    
}
h1 {
    text-shadow: 2px 20px 5px rgb(255, 238, 140);
        font-family: "Righteous", sans-serif;
        font-weight: 400;
        font-style: normal;

      
}